.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-contact-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}
.modal-contact-form {
  display: flex;
  flex-direction: column;
}
.modal-contact-input {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 42px;
  transition: border-color 250ms linear;
}
.modal-form-field-content {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-form-field {
  font-size: 12px;
  color: $secondary-text-color;
}
.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transition: background-color 250ms linear;
  transform: translateY(-50%);
}
.modal-contact-input:focus + .modal-form-icon {
  fill: $accent-color;
}
.type-message {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms linear;
}
.modal-contact-input:focus,
.type-message:focus {
  outline: none;
  border-color: $accent-color;
}
.modal-form-btn {
  padding: 10px 55px;
  min-width: 200px;
}
.modal-form-check-label {
  display: flex;
  margin-top: 20px;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
/* оформление для кастомного чекбокса */
.modal-form-check {
  position: absolute;
}
.modal-form-check:checked + .modal-form-check-label .icon-checkbox {
  background-color: $accent-color;
  border-color: $accent-color;
}
.modal-form-check:checked + .modal-form-check-label .icon-checkbox .icon-check {
  opacity: 1;
}

.modal-form-field + .modal-form-field {
  margin-top: 10px;
}

.icon-checkbox {
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-color: $white-color;
  border: solid 2px $primary-text-color;
  border-radius: 2px;
}
.icon-check {
  align-self: center;
  opacity: 0;
}

.modal-form-check-link {
  color: $accent-color;
  text-decoration: underline;
}
// BUTTONS
.button-wrapper {
  text-align: center;
}
.close-modal-button {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: $white-color;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.icon-close-button {
  align-self: center;
}
.modal-form-check-labell {
  margin-right: auto;
  margin-left: auto;
}
