.button {
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 30px;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white-color;
  border: none;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $hover-button-color;
  }
}
